*{

  font-family: 'Nunito', sans-serif;;
}

body{
  background-color: #130f0d;
  color: #fff;
}

.boards{
  display: flex;

  margin-top: 32px;
}

.board{
  background: #141316;
  border: 1px solid #fD951f22;
  border-radius: 4px;
  margin: 0 16px;
}

.board h3{
  padding: 16px;
  margin: 0;
  color: #fd951fcc;
}

.dropzone{
  padding: 16px;
  min-width: 282px;
  min-height: 170px;
}

.card{
  padding: 16px;
  box-shadow: 0 2px 2px -1px #fd951fcc;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: #1a1a1c
}

.status{
  width: 30px;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 4px;
}

.status.green{
  background: #23d2ac;
  box-shadow: 0 0 20px #23d2acaa;
}
.status.blue{
  background: #33adff;
  box-shadow: 0 0 20px #33adffaa;
}
.status.red{
  background: #ff0000;
  box-shadow: 0 0 20px #ff0000aa;
}

.highlight{
  background: #fd951f08;
}

.card, .dropzone{
  transition: ease .4s;
}

.is-dragging{
  opacity: .3;
}

.over{
  background: #4cd13711
}